<main>
  <button></button>
  <button></button>
  <a href="/mountain/<%= mountain["id"] %>/edit">Edit</a>
  <h2><%= mountain["name_of_mt"] %></h2>
  <h3><%= mountain["rating"] %></h3>
  <h3><%= mountain["country"] %></h3>
  <p><%= mountain["sum_of_mt"] %></p>
  <h3><%= mountain["terrain_lvl"] %></h3>
  <h3><%= mountain["fav_run"] %></h3>
</main>