<div class="mt-main-wrapper">
  <main class="mountain-view">
    
    <div>
      <form class="vote-btn-form" action="/mountain/vote" method="post">
        <input type="hidden" name="id" value="<%= mountain["id"]%>">
        <button class="vote-btn">Downvote</button>
      </form>

      <form class="vote-btn-form" action="/mountain/vote" method="post">
        <input type="hidden" name="vote" value="up">
        <input type="hidden" name="id" value="<%= mountain["id"]%>">
        <button class="vote-btn">Upvote</button>
      </form>
      <%if session[:user_id] == mountain["user_id"]%>
      <a class="edit-mt-btn" href="/mountain/<%= mountain["id"] %>/edit">Edit</a>
      <% end %>
    
    </div>

    <h2><%= mountain["name_of_mt"] %></h2>

    <div class="mt-grid">
      <h3 class="vote-display">Mountain rating: <%= get_result_of_votes_by_post_id(mountain["id"])%></h2>
      <h3>County: <%= mountain["country"] %></h3>
    </div>

    <p class="mt-sum"><%= mountain["sum_of_mt"] %></p>

    <div class="mt-grid">
      <h3>Terrain level: <%= mountain["terrain_lvl"] %></h3>
      <h3>Favourite run: <%= mountain["fav_run"] %></h3>
    </div>
  </main>
  <aside>
    <div class="comments-view">
      <form action="/mountain/comment" method="post">
        <input type="hidden" name="user_id" value="<%=session[:user_id]%>">
        <input type="hidden" name="post_id" value="<%= mountain["id"]%>">
        <textarea class="comment-submit-box" name="comment" cols="20" rows="5"></textarea>
        <button>Comment</button>
      </form>
      <% comments.each do |com|%>
        <p class="comment-display"><%= com["comment"] %></p>
      <% end %>
    </div>
  </aside>
